{{#if logged_in}}
<section>
    {{!-- <img src="" alt=""> --}}
    <article class="postBody">
        <h3> {{name}} </h3>
        <a href="/profile/{{user_id}}">Created by: {{Username}}</a>
        <p> Posted on: {{formatDate date_created}} </p>
        <p> Description: {{description}} </p>
        <p> {{blog_data}} </p>
    </article>
</section>
{{else}}
{{!-- redirect to login page --}}
<a href="/login">Please login to view this page. ♥ </a>
{{/if}}